.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

* {
    scrollbar-width: thin;
    scrollbar-color:#6e6e6e #545454;
  }

*::-webkit-scrollbar {
    width: 2px;
}  

*::-webkit-scrollbar-track {
    background: #545454;
}

*::-webkit-scrollbar-thumb {
    background-color: $bg-accent;
    border-radius: 999px;
    border: 2px solid #545454;
}

[data-aos='fade-up'].aos-animate {
    display: block;
    animation: fadeInUp 0.8s cubic-bezier(0.57, 0.01, 0.55, 1) 0s forwards; 
}
  
@keyframes fadeInUp {
    0% {
        opacity: 0.01;
        transform: translate3d(0, 1rem, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

[data-aos='fade-right'].aos-animate {
    display: block;
    animation: fadeInRight 0.8s cubic-bezier(0.57, 0.01, 0.55, 1) 0s forwards; 
}
  
@keyframes fadeInRight {
    0% {
        opacity: 0.01;
        transform: translate3d(-1rem, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

[data-aos="blur-up"] {
    opacity: 0;
    filter: blur(16px);
    transition: all 2s cubic-bezier(0.57, 0.01, 0.55, 1);
}
  
[data-aos="blur-up"].aos-animate {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

[data-aos="slow-blur"] {
    opacity: 0.6;
    filter: blur(10px);
    transition: all 3s cubic-bezier(0.57, 0.01, 0.55, 1);
}
  
[data-aos="slow-blur"].aos-animate {
    opacity: 1;
    filter: blur(0px);
}