.link-underline {
    @include link-2($color: $black);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.label {
    @include label();
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}
