@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

$font-serif: 'Gowun Batang', serif;
$font-sans: 'Rethink Sans', sans-serif;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;


@mixin display($color: $black, $font-weight: $regular) {
    font-family: $font-serif;
    color: $color;
    @include fsize(70px);
    line-height: 100%;
    font-weight: $font-weight;
    font-style: normal;
    letter-spacing: -2.1px;
    @media (max-width: $bp-tablet) {
        @include fsize(48px);
    }
    @media (max-width: $bp-mobile) {
        @include fsize(36px);
    }
}

@mixin heading-1($color: $black, $font-weight: $regular) {
    font-family: $font-serif;
    color: $color;
    @include fsize(30px);
    line-height: 120%;
    font-weight: $font-weight;
    font-style: normal;
    letter-spacing: -0.9px;
    @media (max-width: $bp-mobile) {
        @include fsize(24px);
    }
}

@mixin p($color: $black, $font-weight: $regular) {
    font-family: $font-sans;
    color: $color;
    @include fsize(16px);
    line-height: 110%;
    font-weight: $font-weight;
    letter-spacing: -0.48px;
}

@mixin p2($color: $black, $font-weight: $regular) {
    font-family: $font-serif;
    color: $color;
    @include fsize(16px);
    line-height: 110%;
    font-weight: $font-weight;
    font-style: normal;
    letter-spacing: -0.48px;
}

@mixin link($color: $black, $font-weight: $regular) {
    font-family: $font-serif;
    color: $color;
    @include fsize(18px);
    line-height: 110%;
    font-weight: $font-weight;
    font-style: normal;
    letter-spacing: -0.54px;
    text-decoration: none;
}

@mixin link-2($color: $black, $font-weight: $regular) {
    font-family: $font-sans;
    color: $color;
    @include fsize(16px);
    line-height: 110%;
    font-weight: $font-weight;
    letter-spacing: -0.48px;
    text-decoration: none;
}

@mixin label($color: $text-color-1) {
    font-family: $font-sans;
    color: $color;
    @include fsize(16px);
    line-height: 110%;
    font-weight: $regular;
    letter-spacing: -0.48px;
}