@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }

@mixin fsize($size) {
font-size: $size; 
font-size: calculateRem($size);
}

@mixin container($display: block) {
    display: $display;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: 0;
    padding: 0 $space-sm;
    margin: 0 auto;
    @media (min-width: $bp-desktop) {
        max-width: 1260px;
    }
}

@mixin transition($element: all 1s cubic-bezier(0.25, 0.8, 0.25, 1)) {
    -webkit-transition: $element;
    -moz-transition: $element;
    -ms-transition: $element;
    -o-transition: $element;
    transition: $element;
  }

@mixin overlay($color: rgba(0, 0, 0, 0.2)) {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $color;
    pointer-events: none;
}
